<!-- Business Contact Content-->
<body>
    <main class ="container">
        <div class ="row">
            <h1><%= title %></h1>
            <br>
            <a href="/contact-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-user-plus"></i> Add a Contact
            </a>
            <br>
            <table class = "table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class ="text-center"> Contact Name</th>
                    <th class ="text-center"> Contact Number</th>
                    <th class ="text-center"> Email Address</th>
                    <th class="text-center">Add</th> 
                    <th class="text-center">Delete</th> 

                </tr>

                <!-- Repeatable Template-->
                <% for (let count = 0; count < contactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= contactList[count].contact_name %></td>
                        <td class="text-center"><%= contactList[count].contact_number %></td>
                        <td class="text-center"><%= contactList[count].email_address %></td>
                        <td class="text-center">
                            <a href="/contact-list/edit/<%= contactList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-user-plus"></i>   
                             </a>
                        </td>
                        <td class="text-center">
                            <a href="/contact-list/delete/<%= contactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fa-solid fa-user-minus"> </i>  
                             </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>

    </main>
</body>